<a class="list-group-item clearfix" (click)="onPlayerSelected()">
    <div class="pull-left">
        <h4 class="list-group-item-heading">
            {{ playerItem.playername }} <span class="badge">{{ playerItem.points }}</span>
        </h4>
        
        <ol class="breadcrumb">
            <li> Win: {{ playerItem.won }} </li>
            <li> Lose: {{ playerItem.lost }} </li>
            <li> Draw: {{ playerItem.draw }} </li>
        </ol>
    </div>
    <span class="pull-right">
        <img [src]="playerItem.playerImage" [alt]="playerItem.playername" class="img-responsive" style="max-height:60px">
    </span>
</a>